.sec {
    background: #fff;
    padding: 100px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec .content {
    position: relative;
    text-align: center;
    width: 100%;
}

.mxw800 {
    max-width: 800px;
    margin: 0 auto;
}

h3 {
    font-size: 40px;
    font-weight: 200;
    margin-bottom: 10px;
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#stats {
    background: #000;
    padding-top: 250px;
    margin-top: -250px;
}

#stats h3, #stats p {
    color: #fff;
}

.statsBox {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    max-width: 100%;
    margin-top: 40px;
}

.statsBox h2 {
    color: #fff;
    font-size: 36px;
}

.statsBox h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}