.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url('../../assets//img/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h2 {
    color: #fff;
    font-size: 90px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1em;
}

.banner h2 span {
    color: #4978ff;
}

.banner {
    background-position: center;
}

.banner h2 {
    font-size: 60px;
    padding: 0 50px;
}

/* Media Query */
@media (max-width: 992px) {

    .banner {
        background-position: center;
    }

    .banner h2 {
        font-size: 60px;
        padding: 0 50px;
    }
    
    .sec {
        padding: 100px 50px 50px 50px;
    }
}